---
title: "Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972)"
---

<div class="project">
  <aside>
    <%= image_tag "affiche-leopold.jpg" %>
    <%= image_tag "cinema-leopold.jpg" %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This ongoing project focuses on the rise and decline of a soft-erotic cinema in Ghent after the Second World War. Cinema Leopold was a highly controversial city centre cinema, that grew from a mainstream cinema into a risqué soft-erotic and later into a porn cinema. Next to material coming from the Ghent Cinema City project, this case study relies upon archival research (including police records, financial and other business material), oral histories, and programming analysis.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>Ongoing research project</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul>
        <li class="more"><a href="daniel.biltereyst@ugent.be">Daniel Biltereys</a></li>
        <li class="more"><a href="liesbeth.vandevijver@ugent.be">Liesbeth Van de Vijver</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Links to project</h2>
      <ul>
        <li><%= link_to 'Reference to the Cinema Leopold project on HoMER platform', 'http://homernetwork.org/dhp-markers/filmapping-2/' %></li>
        <li><%= link_to 'Blog with reference to Cinema Leopold', 'http://florsnieuweblog.blogspot.be/2015/04/cinema-leopold-over-porno-1.html' %></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><%= link_to 'Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972)- Output', 'cinema-leopold-output.html' %></p>
    </div>
  </div><!-- end content div -->
</div><!-- end project div -->
