---
title: Projects
description: "Projects in the context of cinema city cultures"
---

<div class="projects">
  <header class="pageheader">
    <h1>Projects</h1>
    <nav>
      <ul class="countries">
        <li class="more"><a href="#belgium">Belgium</a></li>
      </ul>
   </nav>
  </header>
  <aside>
    <%= image_tag "cinema-plaza-gent.jpg" %>
  </aside>
  <div class="content">
    <div id="belgium" class="project_country">
      <h2>Belgium</h2>
      <ul>
        <li><%= link_to 'The Enlightened City: Film exhibition and film consumption in Flanders (1895-2004)', '/the-enlightened-city.html' %></li>
        <li><a href="">Antwerp Cinema City (1896-2010)</a></li>
        <li><%= link_to 'Ghent Cinema City (1896-2010)', '/ghent-cinema-city.html' %></a></li>
        <li><%= link_to 'Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972)', 'cinema-leopold-growth-and-decline-of-soft-erotic-cinema-in-ghent.html' %></li>
        <li><%= link_to 'Cinema Capitole: Crisis and decline of a major first-run cinema in Ghent (1953-71', 'cinema-capitole-crisis-and-decline-first-run-cinema-ghent.html' %></li>
        <li><%= link_to 'Moviegoing at the docks in Antwerp and Rotterdam (1910-1990)', '/moviegoing-at-the-docks-in-antwerp-and-rotterdam.html' %></li>
        <li><a href="reopening-cinemas.html">Reopening Cinemas in Antwerp and Brussels (2015)</a></li>
        <li><%= link_to 'Cinema Located. Place, space and experience of cinema in Ghent (1982-2012)', '/cinema-located-place-space-and-experience-of-cinema-in-ghent.html' %>
      </ul>
    </div>
  </div>
</div>
