---
title: Projects
description: "Bringing together research projects from different countries and continents, on cinematic place and space, programming and audience experience"
---

<div class="projects">
  <header class="pageheader">
    <h1>Projects</h1>
    <nav>
      <ul class="countries">
        <li class="more"><a href="#belgium">Belgium</a></li>
        <li class="more"><a href="#brazil">Brazil</a></li>
        <li class="more"><a href="#colombia">Colombia</a></li>
        <li class="more"><a href="#mexico">Mexico</a></li>
        <li class="more"><a href="#spain">Spain</a></li>
        <li class="more"><a href="#netherlands">The Netherlands</a></li>
        <li class="more"><a href="#usa">USA</a></li>
      </ul>
   </nav>
  </header>
  <aside>
    <%= image_tag "cinema-plaza-gent.jpg" %>
  </aside>
  <div class="content">
    <div id="belgium" class="project_country">
      <h2>Belgium</h2>
      <ul>
        <li><%= link_to 'The Enlightened City: Film exhibition and film consumption in Flanders (1895-2004)', '/the-enlightened-city.html' %></li>
        <li><a href="antwerp-cinema-city.html">Antwerp Cinema City (1945-1995)</a></li>
        <li><%= link_to 'Ghent Cinema City (1896-2010)', '/ghent-cinema-city.html' %></a></li>
        <li><%= link_to 'Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972)', 'cinema-leopold-growth-and-decline-of-soft-erotic-cinema-in-ghent.html' %></li>
        <li><%= link_to 'Cinema Capitole: Crisis and decline of a major first-run cinema in Ghent (1953-71', 'cinema-capitole-crisis-and-decline-first-run-cinema-ghent.html' %></li>
        <li><%= link_to 'Moviegoing at the docks in Antwerp and Rotterdam (1910-1990)', '/moviegoing-at-the-docks-in-antwerp-and-rotterdam.html' %></li>
        <li><a href="reopening-cinemas.html">Reopening Cinemas: Cinematic landmarks in Rio de Janeiro, Antwerp and Brussels</a></li>
        <li><%= link_to 'Cinema Located. Place, space and experience of cinema in Ghent (1982-2012)', '/cinema-located-place-space-and-experience-of-cinema-in-ghent.html' %></li>
        <li><%= link_to 'CINEMAPS: A data-driven investigation of cinema markets in The Netherlands and Flanders (1950-1975)', '/cinemaps-a-datadriven-investigation-of-cinema-markets.html' %>
        <li><%= link_to 'Cinema Ecosystem (CINECOS): A New Cinema History inspired project aiming at building an open access data platform for cinema history in Flanders and Belgium', '/cinema-ecosystem.html' %>
      </ul>
    </div>
    <div id="brazil" class="project_country">
      <h2>Brazil</h2>
      <ul>
        <li><a href="reopening-cinemas.html">Reopening Cinemas: Cinematic landmarks in Rio de Janeiro, Antwerp and Brussels</a></li>
      </ul>
    </div>
    <div id="colombia" class="project_country">
      <h2>Colombia</h2>
      <ul>
        <li><a href="cultura-de-la-pantalla-en-cartagena.html">Cultura de la Pantalla en Cartagena de Indias (1930-1962)</a></li>
      </ul>
    </div>
    <div id="mexico" class="project_country">
      <h2>Mexico</h2>
      <ul>
        <li><a href="cultura-de-la-pantalla-en-mexico-city.html">Cultura de la Pantalla in Mexico City (1895-1992)</a></li>
        <li><a href="cultura-de-la-pantalla-en-monterrey.html">Cultura de la Pantalla en Monterrey (1895-1972)</a></li>
        <li><a href="cultura-de-la-pantalla-en-tampico.html">Cultura de la Pantalla en Tampico (1895-2017)</a></li>
        <li><a href="cultura-de-la-pantalla-en-torreon.html">Cultura de la Pantalla en Torreón (1895-1992)</a></li>
        <li><a href="film-programming-and-exhibition-in-veracruz.html">Film programming and exhibition in Veracruz (1952)</a></li>
        <li><a href="screen-culture-in-leon.html">Screen culture in Léon, Mexico</a></li>
      </ul>
    </div>
    <div id="spain" class="project_country">
      <h2>Spain</h2>
      <ul>
        <li><a href="cultura-de-la-pantalla-en-barcelona.html">Cultura de la Pantalla en Barcelona (1895-2012)</a></li>
      </ul>
    </div>
    <div id="netherlands" class="project_country">
      <h2>The Netherlands</h2>
      <ul>
        <li><%= link_to 'Moviegoing at the docks in Antwerp and Rotterdam (1910-1990)', '/moviegoing-at-the-docks-in-antwerp-and-rotterdam.html' %></li>
        <li><%= link_to 'CINEMAPS: A data-driven investigation of cinema markets in The Netherlands and Flanders (1950-1975)', '/cinemaps-a-datadriven-investigation-of-cinema-markets.html' %>
      </ul>
    </div>
    <div id="usa" class="project_country">
      <h2>USA</h2>
      <ul>
        <li><a href="screen-culture-in-laredo-texas.html">Screen Culture in Laredo, Texas, USA (1895-1972)</a></li>
      </ul>
    </div>
  </div>
</div>
